@model ppmwebapp.model.Role
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div >
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    <div>

        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>